.searchbar{
    text-align: center;
    background-color: rgb(205, 193, 193);
}

.card1{
    background-color: rgb(69, 189, 189);
    padding: 10px;

}
.card2{
    background-color: rgb(62, 173, 173);
    padding: 10px;

}
.card3{
    background-color: rgb(52, 152, 152);
    padding: 10px;

}

body{
    text-align: center;
}